// https://stackoverflow.com/questions/70120238/do-i-consider-decimal-point-of-px-in-media-query
$mobileMax: 599.98px;
$tabletMin: 600px;
$tabletMax: 1023.98px;
$laptopMin: 1024px;
$laptopMax: 1311.98px;
$desktopMin: 1312px;

$onlyMobile: 'only screen and (max-width: ' + $mobileMax + ')';
$onlyTablet: 'only screen and (min-width: ' + $tabletMin + ') AND (max-width: ' +
  $tabletMax + ')';
$onlyLaptop: 'only screen and (min-width: ' + $laptopMin + ') AND (max-width: ' +
  $laptopMax + ')';
$onlyDesktop: 'only screen and (min-width: ' + $desktopMin + ')';

$fromTablet: 'only screen and (min-width: ' + $tabletMin + ')';
$fromLaptop: 'only screen and (min-width: ' + $laptopMin + ')';
